[core]
	editor = nano
[push]
	default = upstream
[merge]
	conflictstyle = diff3
[user]
	name = Grigoriy Levanov
	email = gregory@levanov.io
	signingKey = /Users/grigoriy/.ssh/id_rsa.pub
[gpg]
        format = ssh
[commit]
        gpgsign = true
