[color]
	ui = auto
[core]
	editor = code --wait
[push]
	default = upstream
[merge]
	conflictstyle = diff3
[user]
	name = Grigoriy Levanov
	email = glevanov@gmail.com
[credential]
	helper = osxkeychain
