[color]
	ui = auto
[core]
	editor = code --wait
[push]
	default = upstream
[merge]
	conflictstyle = diff3
[user]
	name = Grigoriy Levanov
	email = gregory@levanov.io
[credential]
	helper = osxkeychain
